.root{
  border: 2px solid #79ABC6;
  border-radius: 10px;
  padding: 10px 20px;
  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.rootCompleted{
  border: 2px solid #00C6AD;
}
.textEdit{
  border: none;
  outline: none;
  width: 100%;
}


.buttons{
  display: flex;
  gap: 10px;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}

.buttons > * {
  flex: 1 1 100%;
}

.buttons > * {
  cursor: pointer;
  min-height: 50px;
  border-radius: 5px;
  background: #1D556D;
  padding: 10px;
  color: white;
  border: none;
  transition: background-color 100ms ease-in;
}

.buttons > *:hover {
  background-color: #002F45;
}
