.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;

  background-color: var(--main);

  padding: 0 8.3%;
  padding-top: 7rem;
}

.todoCount {
  margin-left: 1.8rem;
  margin-bottom: -1.5rem;
}