.root {
  transition: all 200ms ease-in;
}

.root > * {
  transition: all 200ms ease-in;
}

.active {
  composes: root;   
}

.active > rect:nth-child(2) {
  fill: transparent;
  stroke: transparent;
}

.active > path {
  fill: transparent;
}

.inactive {
  composes: root;
}